@model crud.Models.CiudadanoEstado

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>CiudadanoEstado</h4>
<hr />
<!--<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>-->
<main class="main">
    <div class="container2">
        <h1>C</h1>
    </div>
    <form class="form-registrer" asp-action="Create">
        <div>
            <input asp-for="Nombre" class="controls" type="text" name="Nombre" placeholder="Ingresar nombre">
        </div>
        <div>
            <textarea asp-for="Descripcion" class="controls" placeholder="Ingrese descripcion"></textarea>
        </div>
        <div>
            <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
        </div>
        <br>
        <input type="submit" value="Create" class="botons" />
        <input type="button" value="Back to list" class="botons" asp-action="Index"/>
    </form>
</main>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
